{% extends "index.html.twig" %}

    {% block navbar %}
    <form class="form-inline" action="index.html" method="post">
        <a href="/">Home</a>
    </form>
    {% endblock %}

    {% block content %}
        <h2>{{cuisine.getCuisineName}} restaurants</h2>
        {% if restaurants is not empty %}
            <ul>
                {% for restaurant in restaurants %}
                    <li><a href="/restaurant/{{restaurant.getId}}">{{ restaurant.getRestaurantName }}</a></li>
                {% endfor %}
            </ul>
        {%endif%}
    {% endblock %}

    {% block controls %}
        <h3>Input a new {{cuisine.getCuisineName}} restaurant:</h3>
        <form action="/cuisine_type/{{cuisine.getId}}/add" method="post">
            <input type="text" name="name" placeholder="Restaurant Name">
            <input type="text" name="price" placeholder="Price">
            <input type="text" name="description" placeholder="Quick description">
            <input type="hidden" name="id_cuisine" value="{{cuisine.getId}}">
            <button type="submit" name="button">Add</button>
        </form>
        <h3>Edit cuisine name</h3>
        <form action="/" method="get">
            <button type="submit" formaction="/cuisine_type/{{cuisine.getId}}/edit" name="edit">Edit</button>
        </form>
    {% endblock %}
