{% extends 'index.html.twig' %}

    {% block navbar %}
    <a href="/">Home</a>
    <a href="/cuisine_type/{{cuisine.getId}}">Back</a>
    {% endblock %}

    {% block content %}
    <h3>Edit: {{cuisine.getCuisineName}} cuisine</h3>
    <form action="/cuisine_type/{{cuisine.getId}}/edit" method="post">
        <input name="_method" type="hidden" value="patch">
        <input type="text" name="name" placeholder="New Cuisine Name" value="{{cuisine.getCuisineName}}" required>
        <button type="submit" name="button">Change Cuisine Name</button>
    </form>
    {% endblock %}

    {% block controls %}
    <form action="/{{cuisine.getId}}" method="post">
        <input name="_method" type="hidden" value="delete">
        <button type="submit">Delete This Cuisine</button>
    </form>
    {% endblock %}
