{% extends "index.html.twig"%}

    {% block navbar %}
    <a href="/">Home</a>
    <a href="/restaurant/{{restaurant.getId}}">Back</a>
    {% endblock %}
    {% block content %}
        <h3>Edit: {{restaurant.getRestaurantName}}</h3>
        <form action="/restaurant/{{restaurant.getId}}/edit" method="post">
            <input name="_method" type="hidden" value="patch" required>
            <input type="text" name="name" value="{{restaurant.getRestaurantName}}" placeholder="New Restaurant Name" required>
            <input type="text" name="price" value="{{restaurant.getPrice}}" placeholder="New Price Name" required>
            <input type="text" name="description" value="{{restaurant.getDescription}}" placeholder="New Description Name" required>
            <button type="submit" name="button">Commit changes</button>
        </form>
    {% endblock %}
    {% block controls %}
        <form action="/cuisine_type/{{restaurant.getIdCuisine}}/{{restaurant.getId}}" method="post">
            <input name="_method" type="hidden" value="delete">
            <button type="submit">Delete {{restaurant.getRestaurantName}}</button>
        </form>
    {% endblock %}
