{% extends "index.html.twig"%}

    {% block navbar %}
    <a href="/">Home</a>
    <a href="/cuisine_type/{{restaurant.getIdCuisine}}">Back</a>
    {% endblock %}
    {% block content %}
        <h1>{{restaurant.getRestaurantName}}</h1>
        <ul>
            <li>Name: {{ restaurant.getRestaurantName }}</li>
            <li>Price: {{ restaurant.getPrice }}</li>
            <li>Description: {{ restaurant.getDescription }}</li>
            <li>Cuisine: {{ cuisine.getCuisineName }}</li>
        </ul>
    {% endblock %}
    {% block controls %}
        <form action="/restaurant/{{restaurant.getId}}/edit" method="get">
            <button type="submit" name="button">Edit {{restaurant.getRestaurantName}}</button>
        </form>
    {% endblock %}
